.addIcon{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.addIconMob{
    position: absolute;
    bottom: 80px;
    right: 20px;
    z-index: 99999;
}

.addBtn{
    background: green;
}