<!-- header start-->
<div class="header-container">
  
    <div fxFlex fxLayout="row" fxHide.lt-md>
      <!-- Company logo-->
      <div fxFlex>
          <img class="company-logo" src="../../../../assets/companyLogo.png" alt="companyimages"/>
      </div>
      <!-- Heading Container-->
      <div class="heading f20" fxFlex fxLayoutAlign="center center">
          Report
      </div>
      <!-- Heading container end-->
      <div fxFlex fxLayoutAlign="end center">
          <button mat-raised-button color="primary">Logout</button>
      </div>
      <!-- Company logo End-->
    </div>

    <!-- Mob Responsive-->
    <div fxFlex fxLayout="row" fxHide.gt-md>
        <!-- Company logo-->
        <div fxFlex fxLayoutAlign="start center">
            <img class="company-logo-Mob" src="../../../../assets/companyLogo.png" alt="companyimages"/>
        </div>

        <div class="heading f14" fxFlex fxLayoutAlign="center center">
            Report
        </div>
        <!-- Heading container end-->
        <div fxFlex fxLayoutAlign="end center">
            <button mat-raised-button color="primary">Logout</button>
        </div>
        <!-- Company logo End-->
    </div>
  
  </div>
  <!-- Header end-->
  