<!-- Sign up page-->
<div class="signInContainer">
    <div class="h100p" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="p0">
            <!-- card container start-->
            <mat-card-content>
                <!-- Header start-->
                <div class="TitleHeader">
                    <div fxLayoutAlign="center center" class="logoContainer">
                        <img class="logo" src="../../../assets/companyLogo.png" alt=""/>
                    </div>
                </div>
                <!-- Header end-->

                <!-- conent body start-->
                <div class="p10">
                    <form #signInForm="ngForm">
                        <div class="signIn f24" fxLayout="row" fxLayoutAlign="center center">Sign In</div>
                        <!-- User name-->
                        <div class="p10">
                            <mat-form-field class="w280" focused="true">
                                <input matInput placeholder="User Name" name="userName" [(ngModel)]="user.userName" required>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>person</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        
                        <!-- Password field-->
                        <div class="p10">
                            <mat-form-field class="w280" focused="true">
                                <input matInput name="Password" [(ngModel)]="user.password"  placeholder="Password" [type]="hide ? 'text' : 'password'" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div fxLayoutAlign="center center">
                            <button class="linkPassword" mat-button>Forgot Password?</button>
                        </div>

                        <div class="p10" fxLayoutAlign="end end">
                            <button type="submit" mat-raised-button color="primary" (click)="login(signInForm)">Login</button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
            <!-- Card container end-->
         </mat-card>
    </div>
</div>